*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}
.display{
    margin-top: 20px;
}
.display input[type=text]
{
    height: 50px;
    width: 245px;
    margin-right: 5px;
    margin-top: 80px;
    padding-left: 30px;
}
.calculator{
    height: 500px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons-container{
    height: 300px;
    width: 180px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-around;
    gap: 6.6px;
    margin-top: 15px;
}
.button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: rgb(186, 186, 186);
    font-weight: 550;
}